{% extends "site_base.html" %}

{% load humanize %}
{% load i18n %}

{% block head_title %}Home{% endblock %}

{% block body_class %}home{% endblock %}

{% block site_brand %}{% endblock %}
{% block navbar-toggler %}{% endblock %}
{% block nav_items %}{% endblock %}

{% block body_base %}

  <section class="home-hero">
    {# no container as padding managed by section and fixed by media width #}
    <h2>Open Greek and Latin<br/>Perseus Digital Library</h2>
    <h1>Scaife Viewer</h1>

    <p class="buttons">
      <a class="btn btn-primary" href="{% url 'library' %}">Browse Library</a>
      <a class="btn btn-secondary" href="{% url 'search' %}">Text Search</a>
    </p>

    <p class="jump">
      or try the
      <a href="{% url 'reader' 'urn:cts:greekLit:tlg0012.tlg001.perseus-grc2:1.1-1.7' %}">Iliad</a>
      or
      Plato&rsquo;s <a href="{% url 'reader' 'urn:cts:greekLit:tlg0059.tlg002.perseus-grc2:17' %}">Apology</a>.
    </p>

  </section>

  <section class="stats">
    <div class="container">
      <p>
        <b>{{ stats.works_count }}</b> works in <b>{{ stats.text_counts_total }}</b> editions and translations
        ({{ stats.text_counts_greek }} in Greek and {{ stats.text_counts_latin}} in Latin)
        <br>
        <b>{{ stats.word_counts_total }} million</b> words ({{ stats.word_counts_greek }} million in Greek, {{ stats.word_counts_latin }} million in Latin)
      </p>
    </div>
  </section>

  <section class="main">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <h2>About the Scaife Viewer</h2>
          <p class="lead">
            The <b>Scaife Viewer</b> is a reading environment for pre-modern text
            collections in both their original languages and in translation.
            It is the first phase of work towards the next version of the Perseus
            Digital Library, Perseus&nbsp;5.0.
          </p>
          <p class="more">
            <a href="{% url 'about' %}">read more</a>
          </p>
        </div>
        <div class="col-md-6">
          <h2>Recent Changes</h2>

          <h3>week of November 29th, 2021</h3>

          <ul>
            <li>updated corpora and corpora stats</li>
          </ul>

          <div class="ml-4">
            <a href="https://github.com/scaife-viewer/scaife-viewer/releases/tag/v2021-11-29-001">
            <small>
              (v2021-11-29-001 release)
            </small>
            </a>
          </div>

          <hr />

          <h3>week of October 25th, 2021</h3>

          <ul>
            <li>updated corpora and corpora stats</li>
          </ul>

          <div class="ml-4">
            <a href="https://github.com/scaife-viewer/scaife-viewer/releases/tag/v2021-10-30-001">
            <small>
              (v2021-10-30-001 release)
            </small>
            </a>
          </div>

          <hr />

          <h3>week of September 27th, 2021</h3>

          <ul>
            <li>updated corpora and corpora stats</li>
          </ul>

          <div class="ml-4">
            <a href="https://github.com/scaife-viewer/scaife-viewer/releases/tag/v2021-10-01-001">
            <small>
              (v2021-10-01-001 release)
            </small>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>
{% endblock %}
