{% extends "theme_bootstrap/base.html" %}

{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
{% load pinax_webanalytics_tags %}
{% load i18n %}


{% block styles %}
  {% render_bundle "vendor" "css" %}
  {% render_bundle "main" "css" %}
{% endblock %}


{% block extra_head_base %}
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  {% include "_analytics.html" %}
  {% block extra_head %}{% endblock %}
{% endblock %}

{% block body_id %}body{% endblock %}

{% block topbar_base %}
  <header>
    <nav>
      <div class="container">
        {% block topbar %}
          {% block site_brand %}<a class="navbar-brand" href="{% url "home" %}"><img src="{% webpack_static 'images/perseus_running_man_small.png' %}"> {% block site_name %}{{ SITE_NAME }}{% endblock %}</a>{% endblock %}
          {% block navbar-toggler %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
              <span class="fa fa-bars"></span>
            </button>
          {% endblock %}
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% block nav %}
              <ul class="navbar-nav mr-auto">
                {% block nav_items %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'library' %}">Browse Library</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">Text Search</a></li>
                {% endblock %}
              </ul>
            {% endblock %}
            {% comment %} {% block account_bar %}{% include "_account_bar.html" %}{% endblock %} {% endcomment %}
          </div>
        {% endblock %}
      </div>
    </nav>
  </header>
{% endblock %}


{% block footer_base %}{% endblock %}


{% block scripts %}
    <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
    {% render_bundle "vendor" "js" %}
    {% render_bundle "main" "js" %}
{% endblock %}

{% block theme_script %}{% endblock %}

{% block extra_body_base %}
  {% analytics %}
  {% block extra_body %}{% endblock %}
{% endblock %}
