{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie <= 8"
          ]
        }
      }
    ]
  ],
  "ignore": [
    "node_modules/",
    "dist/"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
