{
    "presets": [
      "env",
      "stage-2"
    ],
    "plugins": [
        "transform-runtime",
        "transform-object-rest-spread"
     ],
    "comments": false,
    "ignore": [
      "node_modules/",
      "dist/"
    ]
  }
