# @@@ core package is not yet released to pypi
git+https://github.com/scaife-viewer/backend.git@1d95edb8f211e5176d7e7e9fe299432d3a032f7f#subdirectory=core

dj-database-url==0.5.0
django-letsencrypt==3.0.1
django-oidc-provider==0.7.0
django-user-accounts==2.1.0
django-webpack-loader==0.6.0
Django==2.1.11
gunicorn==19.9.0
honcho==1.0.1
pinax-eventlog==2.0.3
pinax-theme-bootstrap==8.0.1
pinax-webanalytics==4.0.2
psycopg2==2.7.6.1
raven==6.10.0
requests==2.22.0
six==1.12.0
whitenoise==4.1.2
