
dj-database-url==0.5.0
django-cors-headers==3.1.1
django-extensions==2.2.9
django-letsencrypt==3.0.1
django-oidc-provider==0.7.0
django-user-accounts==3.0.2
django-webpack-loader==0.6.0
Django==2.2.15
gunicorn==19.9.0
honcho==1.0.1
pinax-eventlog[django-lts]==5.1.0
pinax-theme-bootstrap==8.0.1
pinax-webanalytics==4.0.2
psycopg2==2.7.6.1
raven==6.10.0
requests==2.22.0
# @@@ atlas package is not yet released to pypi
scaife-viewer-atlas @https://github.com/scaife-viewer/backend/archive/d3d8e706e8822737af1f7e6304f373377bfc9c94.zip#subdirectory=atlas
# @@@ core package is not yet released to pypi
scaife-viewer-core @https://github.com/scaife-viewer/backend/archive/2b6670ae592a57946b7a8f80d99d102eb40f6f6d.zip#subdirectory=core
six==1.12.0
whitenoise==4.1.2
