version: 2

jobs:

  qa:
    docker:
      - image: circleci/python:3.6-node
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python3.6 -m venv env
            source env/bin/activate
            pip install -r requirements.txt
            pip install isort
            pip install flake8
      - run:
          name: Run isort
          command: |
            source env/bin/activate
            isort -c **/*.py
      - run:
          name: Run flake8
          command: |
            source env/bin/activate
            flake8 scaife_viewer
      - run:
          name: "Pin to Node 11"
          command: |
            curl -sSL "https://nodejs.org/dist/v11.15.0/node-v11.15.0-linux-x64.tar.xz" | sudo tar --strip-components=2 -xJ -C /usr/local/bin/ node-v11.15.0-linux-x64/bin/node
            curl https://www.npmjs.com/install.sh | sudo bash
      - run:
          name: Check current version of node
          command: node -v
      - run:
          name: Install static dependencies
          command: npm ci
      - run:
          name: Run eslint
          command: npm run lint
      - run:
          name: Run jest tests
          command: npm run unit
      - run:
          name: Run webpack build
          command: npm run build

  deploy:
    docker:
      - image: buildpack-deps:trusty-scm
    working_directory: ~/repo
    steps:
      - checkout
      - deploy:
          name: Eldarion Cloud
          command: |
            declare -A INSTANCES=( [master]=primary )
            if [ ${INSTANCES[$CIRCLE_BRANCH]+_} ]; then
              INSTANCE="${INSTANCES[$CIRCLE_BRANCH]}"
            else
              INSTANCE="$CIRCLE_BRANCH"
            fi
            bin/ec/auth.sh
            bin/ec/deploy.sh "$INSTANCE"
            bin/ec/slack-notify.sh "$INSTANCE"

workflows:
  version: 2
  qa-deploy:
    jobs:
      - qa
      - deploy:
          requires:
            - qa
          filters:
            branches:
              only: /(?:master|dev)/
