#content_body {
  @extend .container;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: $gray-100;
  padding: 0 60px;
  div> {
    @extend .container;
  }
}
