.page-loader {
  margin: auto;
  transform: translate3d(0, 0, 0);
}
.page-loader > div {
  background-color: #343a40;
}

.partial-loader {
  text-align: center;
  transform: translate3d(0, 0, 0);
}
.partial-loader > div {
  background-color: #ccc;
  width: 10px;
  height: 10px;
}
