#navtable {
    display: flex;
    flex-wrap: nowrap;
    z-index: 1;
    border-top: 1px solid #DDD;
}

@media all and (max-width: 520px) {
    #navtable {
        flex-wrap: wrap;
        height: auto;
        font-size: 100%;
    }
}

#navtable div.active:hover {
    background: #FAFAFA;
}

#navtable div#left, #navtable div#right {
    width: 40%;
    flex-grow: 1;
}

@media all and (max-width: 520px) {
    #navtable div#left, #navtable div#right {
        width: 100%;
        flex-grow: 0;
    }
}

#navtable div#left {
    padding-right: 1em;
}

#navtable div#right {
    padding-left: 1em;
    text-align: right;
}

#navtable div#center {
    width: 20%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
}

@media all and (max-width: 520px) {
    #navtable div#center {
        flex-grow: 1;
    }
}

#navtable div {
    overflow: hidden;
}

#navtable div+div {
    border-left: 1px solid #DDD;
}

@media all and (max-width: 520px) {
    #navtable div+div {
        border-left: 0;
        border-top: 1px solid #DDD;
    }
}

#navtable li#left a {
    padding-right: 1em;
}
#navtable li#right a {
    padding-left: 1em;
}

#navtable a {
    display: block;
    padding: 0.5em 0.1em;
    height: 100%;
    color: #000;
    opacity: 0.4;
    hyphens: none;
}

#navtable a:hover {
    color: inherit;
    background-color: inherit;
    opacity: 1;
    text-decoration: none;
}

#navtable a:hover span {
}
