body.reader {
  .passage-heading {
    margin-bottom: 20px;
    font-family: 'Noto Serif';
    color: $gray-600;
    h1 {
      margin: 0;
      font-size: 24px;
      font-weight: normal;
      a {
        color: inherit;
      }
    }
    h2 {
      margin: 0;
      font-size: 16px;
      line-height: 24px;
      font-weight: normal;
      font-style: italic;
    }
    h3 {
      font-size: 14px;
      line-height: 18px;
      color: $gray-500;
    }
  }

  .overall {
    display: flex;
    justify-content: center;
  }

  .pg-left, .pg-right {
    min-width: 40px;
    flex-grow: 1;
    min-height: calc(100vh - 250px);
    a {
      display: block;
      color: transparent;
      padding: 10px;
      height: 100%;
      text-align: center;
      &:hover {
        color: $gray-200;
      }
      span {
        display: block;
        position: -webkit-sticky;
        position: sticky;
        top: 38%;
      }
      font-size: 32px;
      @include media-breakpoint-up(lg) {
        font-size: 48px;
      }
    }
  }
  .pg-left {
    margin-right: 5px;
  }
  .pg-right {
    margin-left: 5px;
  }

  .left, .right {
    padding: 0 2em;
  }
  .right {
    border-left: 1px solid $gray-300;
  }

  .side-delete {
    float: right;
  }

  .btn-group.btn-group-left {
    margin-bottom: 10px;
  }
  .btn-group.btn-group-left .dropdown-toggle {
    padding: 0.2rem 0.5rem 0.2rem 0.3rem !important;
    color: $gray-600;
    background: white;
    border: none;
    &:hover {
      color: $black;
    }
    &:focus {
      box-shadow: none;
    }
  }

  .version-select {
    padding: 0.5rem 0.75rem 0.5rem 0;
    text-align: left;
    white-space: normal;
    font-size: 14px;
    line-height: 16px;
    color: $gray-600;
    font-family: 'Noto Serif';
    .metadata {
      font-family: 'Noto Sans';
      color: $gray-500;
      font-style: italic;
      font-size: 12px;
      line-height: 12px;
    }
  }
  .version-option {
    a {
      white-space: normal;
      padding: 0.25rem 1rem;
      &:active {
        .metadata {
          color: lighten($perseus-red, 30%);
        }
      }
      &.remove {
        color: $red;
        &:active {
          color: white;
        }
      }
    }
    font-size: 14px;
    line-height: 16px;
    font-family: 'Noto Serif';
    .metadata {
      font-family: 'Noto Sans';
      color: $gray-600;
      font-style: italic;
      font-size: 12px;
      line-height: 12px;
    }
  }
}
