div.text {

  font-family: 'Noto Serif';
  margin-bottom: 50px;

  &.text-xs {
    max-width: 500px;
    font-size: 12px;
    line-height: 1.4;
  }

  &.text-sm {
    max-width: 600px;
    font-size: 14px;
    line-height: 1.5;
  }

  &.text-md {
    max-width: 700px;
    font-size: 16px;
    line-height: 1.6;
  }

  &.text-lg {
    max-width: 800px;
    font-size: 20px;
    line-height: 1.7;
  }

  &.text-xl {
    max-width: 900px;
    font-size: 24px;
    line-height: 1.8;
  }
}

.overall {
  display: flex;
  justify-content: center;
}

.left, .right {
  padding: 0 2em;
}
.right {
  border-left: 1px solid #DDD;
}

.wrapper {
  display: flex;
}

#content_body {
  flex: 4;
}

.sidebar {

  max-width: 600px;
  transition: max-width .2s;

  &#left-sidebar {
    flex: 1;
    border-right: 1px solid #DDD;
  }
  &#right-sidebar {
    flex: 2;
    border-left: 1px solid #DDD;
  }

  &.collapsed {
    flex: 1;
    max-width: 0;
    overflow: hidden;
  }
}

.passage-heading {
  margin-bottom: 20px;
  font-family: 'Noto Serif';
  color: #778;
  h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    a {
      color: inherit;
    }
  }
  h2 {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    font-style: italic;
  }
}

// from Nemo
div.text {
  .pb {
    font-size: 0.5em;
    display: inline;
    font-style: italic;
    color: grey;
  }

  .ex, .supplied, .unclear {
    color: rgb(80,80,80);
  }

  .unclear {
    text-decoration: underline dotted;
  }

  .lang_heb, .lang_ara, .lang_far {
    text-align: right;
  }

  .note > .note-content {
    display: none;
  }
  .note:hover > .note-content {
    display: inline;
    font-style: italic;
    color: grey;
  }

  ol > li {
    display: list-item;

    list-style: none;
    &:hover {
      list-style: decimal;
    }
    &:nth-child(5n) {
      list-style: decimal;
    }
    &:nth-child(1) {
      list-style: decimal;
    }
  }
  ol.hidenum > li {
    list-style: none;
  }
}

// extras not from Nemo
div.text {
  .card {
    border: none;
  }
  blockquote {
    margin-left: 1em;
    font-style: italic;
  }
  .placeName {
    color: #778;
  }
}
