.text-width-normal {
  max-width: 700px;
}

.text-width-narrow {
  max-width: 500px;
}

.text-width-wide {
  max-width: 900px;
}

.text-width-control {
  font-family: 'Noto Serif';
  cursor: pointer;
  color: $gray-500;
  font-size: 14px;
}

.text-width-control.active {
  color: $black;
}
