div.text {
  font-family: 'Noto Serif';
}


// from Nemo
div.text {
  .pb {
    font-size: 80%;  // 0.5em;
    // display: inline;
    font-style: italic;
    text-align: center;  // not originally in Nemo
    color: $gray-500;  // grey;
    &::before {
      content: 'p.';
    }
  }

  .ex, .supplied, .unclear {
    color: rgb(80,80,80);
  }

  .unclear {
    text-decoration: underline dotted;
  }

  .lang_heb, .lang_ara, .lang_far {
    text-align: right;
  }

  .lang_heb span.w::before {
    content:" ";
  }

  .note > .note-content {
    display: none;
  }
  .note:hover > .note-content {
    display: inline;
    font-style: italic;
    color: grey;
  }

  ol > li {
    display: list-item;

    list-style: none;
    &:hover {
      list-style: decimal;
    }
    &:nth-child(5n) {
      list-style: decimal;
    }
    &:nth-child(1) {
      list-style: decimal;
    }

  }
  ol.hidenum > li {
    list-style: none;
  }

  .lang_far ol {
    display: block;
    > li {
      display: block;
      margin-bottom: 0.8em;
      .seg {
        display: block;
        text-align: center;
        &:nth-child(1) {
        }
        &:nth-child(2) {
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .lang_far ol {
      display: table;
      > li {
        display: table-row;
        .seg {
          display: table-cell;
          white-space: nowrap;
          &:nth-child(1) {
            padding-left: 1em;
            text-align: left;
          }
          &:nth-child(2) {
            padding-right: 1em;
            text-align: right;
          }
        }
      }
    }
  }
}

// extras not from Nemo
div.text {
  .card {
    /* reset bootstrap .card properties because of clash with class from xml */
    border: none;
    flex-direction: row;
  }
  blockquote {
    margin-left: 1em;
    font-style: italic;
  }
  .head {
    margin: 2em 0;
    text-align: center;
    font-weight: bold;
  }
  .placeName {
    color: $gray-600;
  }
  .textpart {
    display: flex;
    & > .a {
      color: transparent;
      div {
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
        text-align: center;
        font-family: 'Noto Sans';
        font-size: 12px;
      }
      min-width: 24px;
      padding-top: 4px;
    }
    &:hover > .a {
      background: $gray-100;
      &:hover {
        background: $gray-400;
        color: black;
        cursor: pointer;
      }
    }
    & > .b {
      padding: 0px 4px;
    }
  }
  &:hover {
    .textpart {
      > .a {
        color: $gray-600;
      }
    }
  }
}
