.widget {
  padding: 5px 8px;
  margin-bottom: 20px;
  h2 {
    font-size: 14px;
    margin: 0;
    color: $gray-600;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  p {
    margin: 0;
  }
}

.widget.recently-read {
  .log {
    margin-top: 10px;
    .label {
      font-family: 'Noto Serif';
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.widget.children, .widget.ancestors {
  p {
    font-family: 'Noto Serif';
    margin-top: 5px;
    font-size: 12px;
    line-height: 16px;
    a {
      padding-right: 0.2em;
    }
  }
}

.widget.passage-reference {
  p {
    margin-top: 5px;
  }
}

.widget.versions {
  .version {
    margin-top: 2px;
    &:first-of-type {
      margin-top: 8px;
    }
    font-size: 12px;
    line-height: 12px;
    font-family: 'Noto Serif';
    padding: 5px 0;
    .side-selectors {
      float: right;
      color: $gray-800;
      padding-left: 10px;
      i {
        @include icon(square);
        &.o {
          color: $gray-200;
        }
      }
      a i.o {
        color: $gray-500;
      }
      a:hover i.o {
        color: $perseus-red;
      }
    }
    .metadata {
      font-family: 'Noto Sans';
      color: $gray-600;
      font-style: italic;
    }
  }
}

.widget.images {
  div {
    margin-top: 10px;
  }
}
