.widget {
  padding: 5px 8px;
  margin-bottom: 20px;
  h2 {
    font-size: 14px;
    margin: 0;
    color: $gray-600;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  p {
    margin: 0;
  }
}

.widget.recently-read {
  .log {
    margin-top: 10px;
    .label {
      font-family: 'Noto Serif';
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.widget.children, .widget.ancestors {
  p {
    font-family: 'Noto Serif';
    margin-top: 5px;
    font-size: 12px;
    line-height: 16px;
    a {
      padding-right: 0.2em;
    }
  }
}
