{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Home{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    {% for breadcrumb in parents %}
      <li class="breadcrumb-item"><a href="{% url 'cts_resource' breadcrumb.urn %}">{{ breadcrumb.get_label }}</a></li>
    {% endfor %}
    <li class="breadcrumb-item active">{{ work.resource.get_label }}</li>
  </ol>
  <h1>{{ work.resource.get_label }}</h1>
  <table class="table">
    {% for text in work.resource.texts.values %}
      <tr>
        <td>{{ text.SUBTYPE }}</td>
        <td>
          <a href="{% url 'reader' text.urn %}">{{ text.get_label }}</a>
          <p>{{ text.get_description }}</p>
        </td>
        <td>{{ text.lang }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
