{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{{ textgroup.resource.get_label }}{% endblock %}

{% block body_class %}cts_textgroup{% endblock %}

{% block body_base %}

  <section class="hero">
    <div class="container">
      <h2>
        {% for breadcrumb in parents %}
          <a href="{% url 'cts_resource' breadcrumb.urn %}">{{ breadcrumb.get_label }}</a>
        {% endfor %}
      </h2>
      <h1>{{ textgroup.resource.get_label }}</h1>
    </div>
  </section>

  <section>
    <div class="container">

      <p class="dev-note lead">
        <span>DEV NOTE:</span>
        We wanted to provide a landing page for each text group that would not
        merely list the available works but provide data about the text group
        as a whole (both general and customized to the authenticated user if
        appropriate). This is just a placeholder for now, so DOES just list the
        available works, but during the development process, it can evolve to
        include things like metadata, activity feeds, visualisations, and
        actions that the user can take. Exactly how to display works is still
        to be established.
      </p>

      <h2>Works</h2>

      {# managed by Vue #}
      <div id="resources"></div>
    </div>
  </section>
{% endblock %}
