{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Home{% endblock %}

{% block body_class %}home{% endblock %}

{% block site_brand %}{% endblock %}
{% block navbar-toggler %}{% endblock %}
{% block nav_items %}{% endblock %}

{% block body_base %}

  <section class="home-hero">
    {# no container as padding managed by section and fixed by media width #}
    <h2>Perseus Digital Library</h2>
    <h1>Scaife Viewer</h1>

    <p class="buttons">
      <a class="btn btn-primary" href="{% url 'library' %}">Browse Library</a>
      <a class="btn btn-secondary" href="{% url 'search' %}">Text Search</a>
    </p>

    <p class="jump">
      or try the
      <a href="{% url 'reader' 'urn:cts:greekLit:tlg0012.tlg001.perseus-grc2:1.1-1.7' %}">Iliad</a>
      or
      Plato&rsquo;s <a href="{% url 'reader' 'urn:cts:greekLit:tlg0059.tlg002.perseus-grc2:17' %}">Apology</a>.
    </p>

  </section>

  <section class="stats">
    <div class="container">
      <p>
        <b>1,834</b> works in <b>2,320</b> editions and translations
        (1,178 in Greek and 612 in Latin)
        <br>
        <b>50.1 million</b> words (20.1 million in Greek, 15.6 million in Latin)
      </p>
    </div>
  </section>

  <section class="main">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <h2>About the Scaife Viewer</h2>
          <p class="lead">
            The <b>Scaife Viewer</b> is a reading environment for pre-modern text
            collections in both their original languages and in translation.
            It is the first phase of work towards the next version of the Perseus
            Digital Library, Perseus&nbsp;5.0.
          </p>
          <p class="more">
            <a href="{% url 'about' %}">read more</a>
          </p>
        </div>
        <div class="col-md-6">
          <h2>Recent Changes</h2>

          <h3>week of March 12th</h3>

          <ul>
            <li>added push and overlay style sidebars based on device width</li>
            <li>added support for Latin in the Morpheus widget</li>
            <li>improved stability and fixed various bugs</li>
            <li>LAUNCH!</li>
          </ul>

          <h3>week of March 5th</h3>

          <ul>
            <li>changed passage notes and place annotations to appear in popovers</li>
            <li>implemented passage healing for references which do not resolve</li>
            <li>used a fallback API for word list widget when GVT does not contain the edition or work</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
