{% extends "site_base.html" %}

{% load i18n reading %}

{% block head_title %}Home{% endblock %}

{% block body_class %}home{% endblock %}

{% block site_brand %}{% endblock %}
{% block navbar-toggler %}{% endblock %}

{% block body_base %}

  <section class="home-hero">
    {# no container as padding managed by section and fixed by media width #}
    <h2>Perseus Digital Library</h2>
    <h1>Scaife Viewer</h1>

    <p>
      <a class="btn btn-primary" href="{% url 'library' %}">Browse Library</a>
    </p>
  </section>

  <section>
    <div class="container">

      <div class="row">
        <div class="col-md-8">
          <p class="dev-note lead">
            <span>DEV NOTE:</span>
            We need to decide what to put here. <b>The</b> most important thing to
            consider for the homepage (or really ANY page) is how to make clear
            <b>what</b> a user can do and <b>how</b> they can accomplish what they're
            trying to achieve.
          </p>

          {% if user.is_authenticated %}
            {% recently_read_by user 10 as recently_read %}
            {% if recently_read %}
            <div class="widget recently-read">
              <h2>Recently Read</h2>
              {% for log in recently_read %}
                <div class="log">
                  <div class="label">
                    <a href="{% url 'reader' log.urn %}">
                      {{ log.metadata.textgroup_label }},
                      {{ log.metadata.work_label }}&nbsp;{{ log.metadata.reference }}
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
            {% endif %}
          {% endif %}

        </div>
        <div class="col-md-4">
          <div class="changelog">
            <h2>Recent Changes</h2>

            <h3>Week of October 9th</h3>
            <ul>
              <li>support for paginating with arrow keys
              <li>text size controls in righthand sidebar
              <li>CTS URN shown in righthand sidebar with link to XML
              <li>experimental textpart visualisation in left margin of reader
              <li>reading log and recently read widget on lefthand sidebar <small>(when authenticated)</small>
              <li>sidebars now scroll independently
            </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
