{% extends "site_base.html" %}

{% load i18n reading %}

{% block head_title %}Home{% endblock %}

{% block body_class %}home{% endblock %}

{% block site_brand %}{% endblock %}
{% block navbar-toggler %}{% endblock %}
{% block search_nav %}{% endblock %}

{% block body_base %}

  <section class="home-hero">
    {# no container as padding managed by section and fixed by media width #}
    <h2>Perseus Digital Library</h2>
    <h1>Scaife Viewer</h1>

    <p>
      <a class="btn btn-primary" href="{% url 'library' %}">Browse Library</a>
      <a class="btn btn-secondary" href="{% url 'search' %}">Search</a>
    </p>
  </section>

  <section>
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <p class="dev-note lead">
            <span>DEV NOTE:</span>
            We need to decide what to put here. <b>The</b> most important thing to
            consider for the homepage (or really ANY page) is how to make clear
            <b>what</b> a user can do and <b>how</b> they can accomplish what they're
            trying to achieve.
          </p>

          {% if user.is_authenticated %}
            {% recently_read_by user 10 as recently_read %}
            {% if recently_read %}
            <div class="widget recently-read">
              <h2>Recently Read</h2>
              {% for log in recently_read %}
                <div class="log">
                  <div class="label">
                    <a href="{% url 'reader' log.urn %}">
                      {{ log.metadata.textgroup_label }},
                      {{ log.metadata.work_label }}&nbsp;{{ log.metadata.reference }}
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
            {% endif %}
          {% endif %}

        </div>
        <div class="col-md-6">
          <div class="changelog">
            <h2>Recent Changes</h2>

            <h3>week of December 18th</h3>
            <ul>
              <li>added word list widget populated from Greek vocabulary tool
            </ul>

            <h3>week of December 11th</h3>
            <ul>
              <li>expanded number of text groups shown in search results
              <li>added missing version label to reader when showing a single passage
              <li>sort editions before translation in library
            </ul>

            <h3>week of December 4th</h3>
            <ul>
              <li>rebuilt the reader in Vue for a much improved UX and as foundation for upcoming features
              <li>rewrote indexing code to handle all texts in all associated repositories
              <li>fixed said element including those with lines
            </ul>

        </div>
      </div>
    </div>
  </section>
{% endblock %}
