{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{{ passage.metadata.get_label }}{% endblock %}

{% block body_class %}reader{% endblock %}


{% block body_base %}
  <div class="wrapper">

    <div class="sidebar collapsed" id="left-sidebar">
      <div style="padding: 5px 15px 20px 35px;">
        SIDEBAR
      </div>
    </div>

    <section id="content_body">
      <button class="btn btn-link" style="position: absolute; top: 60px; left: 0; color: #DDD;" onclick="document.getElementById('left-sidebar').classList.toggle('collapsed')"><i class="fa fa-bars"></i></button>
      <button class="btn btn-link" style="position: absolute; top: 60px; right: 0; color: #DDD;" onclick="document.getElementById('right-sidebar').classList.toggle('collapsed')"><i class="fa fa-bars"></i></button>

      <div class="container">

        <div class="passage-heading">
          <h1>
            {% for breadcrumb in parents %}
              <a href="{% url 'cts_resource' breadcrumb.urn %}">{{ breadcrumb.get_label }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </h1>
          <h2>{{ passage.metadata.get_label }}</h2>
        </div>

        <div>{% if passage.ancestors %}Ancestors: {% for ancestor in passage.ancestors %}<a href="{% url 'reader' ancestor.urn %}">{{ ancestor.label }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</div>

        <div class="overall"{% if passage.rtl %} dir="rtl"{% endif %}>
          <div class="text text-md">
            {{ passage.render|safe }}
            <p class="text-center">
              <span class="text-size-control text-xs" data-size="xs">Αα</span>
              <span class="text-size-control text-sm" data-size="sm">Αα</span>
              <span class="text-size-control text-md" data-size="md">Αα</span>
              <span class="text-size-control text-lg" data-size="lg">Αα</span>
              <span class="text-size-control text-xl" data-size="xl">Αα</span>
            </p>
          </div>
          {% comment %}
          <div class="left">...</div>
          {% endcomment %}
          {% comment %}
          <div class="right">...</div>
          {% endcomment %}
        </div>
      </div>

      <div id="navtable">
        {% if passage.prev_urn %}
          <div id="left" class="active"><a href="{% url 'reader' passage.prev_urn %}"><span>&laquo;</span>&nbsp;prev</a></div>
        {% else %}
          <div id="left"></div>
        {% endif %}
        <div id="center"><span class="label">{{ passage.urn }}</span></div>
        {% if passage.next_urn %}
          <div id="right" class="active"><a href="{% url 'reader' passage.next_urn %}">next&nbsp;<span>&raquo;</span></a></div>
        {% else %}
          <div id="right"></div>
        {% endif %}
      </div>
    </section>

    <div class="sidebar collapsed" id="right-sidebar">
      <div style="padding: 5px 35px 20px 15px; text-align: right;">
        SIDEBAR
      </div>
    </div>
  </div>
{% endblock %}
