{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Search" %}{% endblock %}

{% block body_class %}search{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-6">
      <div class="dev-note lead">
        <p><span>DEV NOTE:</span>
        The search interface is simple at the moment and only a subset of the
        collections are indexed but the capabilities are quite powerful already,
        as outlined in the guide to the right.
        <p>In the next few weeks, we'll support scoping to a particular textgroup
        or work as well as lemma searching (where available). We'll also support
        search results right in the reader and potentially (for authenticated
        users) saved searches.
      </div>
    </div>
    <div class="col-md-6">
      <div class="search-guide">
        <h3>Search Guide</h3>
        <kbd>+</kbd> signifies AND operation<br>
        <kbd>|</kbd> signifies OR operation<br>
        <kbd>-</kbd> negates a single token<br>
        <kbd>"</kbd> wraps a number of tokens to signify a phrase for searching<br>
        <kbd>*</kbd> at the end of a term signifies a prefix query<br>
        <kbd>(</kbd> and <kbd>)</kbd> signify precedence<br>
        <kbd>~N</kbd> after a word signifies edit distance (fuzziness)<br>
        <kbd>~N</kbd> after a phrase signifies slop amount<br>
      </div>
    </div>
  </div>
  <form method="get" action="">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search..." value="{{ q }}" name="q">
    </div>
  </form>
  <div class="row">
    <div class="col-sm-3">
      {% if page.object_list.filtered_text_groups %}
        <h5>Text Groups</h5>
        <ul class="list-group">
          {% for ftg in page.object_list.filtered_text_groups %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              {{ ftg.text_group.label }}
              <span class="badge badge-primary badge-pill">{{ ftg.count }}</span>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="col-sm-9">
      {% if error %}
        <div class="alert alert-danger" role="alert">
          DEV ERROR: {{ error.reason }}
          <pre>{{ error.response }}</pre>
        </div>
      {% endif %}
      {% if paginator.count %}
        <div>Showing <b>{{ page.start_index }}</b>&ndash;<b>{{ page.end_index }}</b> of <b>{{ paginator.count }}</b>; page {{ page.number }} of {{ paginator.num_pages }}</div>

        <ul class="pagination justify-content-center">
          <li class="page-item{% if not page.has_previous %} disabled{% endif %}">
            <a class="page-link" href="{% if page.has_previous %}?q={{ q }}&amp;p={{ page.previous_page_number }}{% else %}#{% endif %}" tabindex="-1">Previous</a>
          </li>
          <li class="page-item{% if not page.has_next %} disabled{% endif %}">
            <a class="page-link" href="{% if page.has_next %}?q={{ q }}&amp;p={{ page.next_page_number }}{% else %}#{% endif %}">Next</a>
          </li>
        </ul>

        {% for result in page.object_list %}
          <div class="result">
            {% with passage=result.passage %}
              <div class="passage-heading">
                <h2>
                  <a href="{{ result.link }}">
                    {% for breadcrumb in passage.text.ancestors %}
                      {{ breadcrumb.label }},
                    {% endfor %}
                    {{ passage.refs.start.human_reference }}{% if passage.refs.end %} to {{ passage.refs.end.human_reference }}{% endif %} ({{ passage.refs.start.reference }}{% if passage.refs.end %} &ndash; {{ passage.refs.end.reference }}{% endif %})
                  </a>
                </h2>
              </div>
            {% endwith %}
            <div class="content">
              {% for c in result.content %}
                <p>{{ c|safe }}</p>
              {% endfor %}
            </div>
          </div>
        {% endfor %}

        <ul class="pagination justify-content-center">
          <li class="page-item{% if not page.has_previous %} disabled{% endif %}">
            <a class="page-link" href="{% if page.has_previous %}?q={{ q }}&amp;p={{ page.previous_page_number }}{% else %}#{% endif %}" tabindex="-1">Previous</a>
          </li>
          <li class="page-item{% if not page.has_next %} disabled{% endif %}">
            <a class="page-link" href="{% if page.has_next %}?q={{ q }}&amp;p={{ page.next_page_number }}{% else %}#{% endif %}">Next</a>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}
