{% load scaife_tags %}
<div class="passage-heading">
  <a href="{% url 'library' %}">Library &gt;</a>
  <h1>
    {% for breadcrumb in passage.text.ancestors %}
      <a href="{% url 'library_cts_resource' breadcrumb.urn %}">{{ breadcrumb.label }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </h1>
  {% if not right_passage %}
    <h2>
      {{ passage.label }}
    </h2>
  {% endif %}
  <h3>{{ passage.refs.start.human_reference }}{% if passage.refs.end %} to {{ passage.refs.end.human_reference }}{% endif %} ({{ passage.refs.start.reference }}{% if passage.refs.end %} &ndash; {{ passage.refs.end.reference }}{% endif %})</h3>
</div>

{% if reader_error %}
  <div class="alert alert-danger" role="alert">
    {{ reader_error }}
  </div>
{% endif %}

{% if not right_passage and versions|length > 1 %}
  <div class="btn-group btn-group-left">
    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="version-select">
      <i class="fa fa-columns"></i>
      add parallel version
    </div>
    <div class="version-option dropdown-menu">
      {% for version in versions %}
        <a class="dropdown-item" href="{% url 'reader' passage.urn %}?right={{ version.text.urn.version }}">
          {{ version.text.label }}
          <div class="metadata">{{ version.text.human_lang }} {{ version.text.kind }}</div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}

<div id="overall" class="overall"{% if passage.rtl %} dir="rtl"{% endif %} data-urn="{{ passage.text.urn }}">
  <div class="pg-left">
    {% if passage.prev %}
      <a id="{% if passage.rtl %}pg-right{% else %}pg-left{% endif %}" href="{% url 'reader' passage.prev.urn %}{% if right_version %}?right={{ right_version }}{% endif %}"><span><i class="fa {% if passage.rtl %}fa-chevron-right{% else %}fa-chevron-left{% endif %}"></i></span></a>
    {% endif %}
  </div>
  {% if right_passage %}
    <div class="left">
      <div class="btn-group btn-group-left">
        <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="version-select">
          {{ passage.text.label }}
          <div class="metadata">{{ passage.text.human_lang }} {{ passage.text.kind }}</div>
        </div>
        <div class="version-option dropdown-menu">
          {% for version in versions %}
            <a class="dropdown-item" href="{% if right_version %}{% url 'reader' version.text.urn %}?right={{ right_version }}{% else %}{% url 'reader' version.text.urn %}?right={{ passage.urn.version }}{% endif %}">
              {{ version.text.label }}
              <div class="metadata">{{ version.text.human_lang }} {{ version.text.kind }}</div>
            </a>
          {% endfor %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item remove" href="{% url 'reader' right_passage.urn %}">remove</a>
        </div>
      </div>

      <div class="text">
        {{ passage|render }}
      </div>
    </div>
    <div class="right">
      <div class="btn-group btn-group-left">
        <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="version-select">
          {{ right_passage.text.label }}
          <div class="metadata">{{ right_passage.text.human_lang }} {{ right_passage.text.kind }}</div>
        </div>
        <div class="version-option dropdown-menu">
          {% for version in versions %}
            <a class="dropdown-item" href="{% url 'reader' passage.urn %}?right={{ version.text.urn.version }}">
              {{ version.text.label }}
              <div class="metadata">{{ version.text.human_lang }} {{ version.text.kind }}</div>
            </a>
          {% endfor %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item remove" href="{% url 'reader' passage.urn %}">remove</a>
        </div>
      </div>

      <div class="text">
        {{ right_passage|render }}
      </div>
    </div>
  {% else %}
    <div class="text">
      {{ passage|render }}
    </div>
  {% endif %}
  <div class="pg-right">
    {% if passage.next %}
      <a id="{% if passage.rtl %}pg-left{% else %}pg-right{% endif %}" href="{% url 'reader' passage.next.urn %}{% if right_version %}?right={{ right_version }}{% endif %}"><span><i class="fa {% if passage.rtl %}fa-chevron-left{% else %}fa-chevron-right{% endif %}"></i></span></a>
    {% endif %}
  </div>
</div>
