<div class="passage-heading">
  <a href="{% url 'library' %}">Library &gt;</a>
  <h1>
    {% for breadcrumb in parents %}
      <a href="{% url 'library_cts_resource' breadcrumb.urn %}">{{ breadcrumb.get_label }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </h1>
  {% if not right_passage %}
    <h2>
      {{ passage.metadata.get_label }}
    </h2>
  {% endif %}
  <h3>{{ passage.refs.start.human_reference }}{% if passage.refs.end %} to {{ passage.refs.end.human_reference }}{% endif %} ({{ passage.refs.start.reference }}{% if passage.refs.end %} &ndash; {{ passage.refs.end.reference }}{% endif %})</h3>
</div>

{% if not right_passage and versions|length > 1 %}
  <button class="btn btn-link btn-sm side-add side-btn-url" data-to-url="{% url 'reader' passage.full_urn %}?right={{ passage.full_urn.version }}"><i class="fa fa-columns"></i></button> ({{ versions|length }} versions)
{% endif %}

<div id="overall" class="overall"{% if passage.rtl %} dir="rtl"{% endif %} data-urn="{{ passage.urn }}">
  <div class="pg-left">
    {% if passage.prev_urn %}
      <a id="{% if passage.rtl %}pg-right{% else %}pg-left{% endif %}" href="{% url 'reader' passage.prev_urn %}{% if right_version %}?right={{ right_version }}{% endif %}"><span><i class="fa {% if passage.rtl %}fa-chevron-right{% else %}fa-chevron-left{% endif %}"></i></span></a>
    {% endif %}
  </div>
  {% if right_passage %}
    <div class="left">
      {% comment %}
      <select id="text-left">
        {% for version in versions %}
          <option{% if version.left %} selected{% endif %} value="{% if right_version %}{% url 'reader' version.passage.full_urn %}?right={{ right_version }}{% else %}{% url 'reader' version.passage.full_urn %}?right={{ passage.full_urn.version }}{% endif %}">{{ version.passage.label }} {{ version.passage.lang }}</option>
        {% endfor %}
      </select>
      {% endcomment %}
      <button class="btn btn-sm btn-link side-delete side-btn-url" data-to-url="{% url 'reader' right_passage.full_urn %}"><i class="fa fa-close"></i></button>

      <div class="btn-group">
        <button type="button" class="version-select">
          {{ passage.label }}
          <div class="metadata">{{ passage.human_lang }} {{ passage.version_type }}</div>
        </button>
        <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          {% for version in versions %}
            <a class="dropdown-item" href="#">
              {{ version.passage.label }}
              <div class="metadata">{{ version.passage.human_lang }} {{ version.passage.version_type }}</div>
            </a>
          {% endfor %}
        </div>
      </div>

      <div class="text">
        {{ passage.render|safe }}
      </div>
    </div>
    <div class="right">
      {% comment %}
      <select id="text-right">
        {% for version in versions %}
          <option{% if version.right %} selected{% endif %} value="{% url 'reader' passage.full_urn %}?right={{ version.passage.full_urn.version }}">{{ version.passage.label }} {{ version.passage.lang }}</option>
        {% endfor %}
      </select>
      {% endcomment %}
      <button class="btn btn-sm btn-link side-delete side-btn-url" data-to-url="{% url 'reader' passage.full_urn %}"><i class="fa fa-close"></i></button>

      <div class="btn-group">
        <button type="button" class="version-select">
          {{ right_passage.label }}
          <div class="metadata">{{ right_passage.human_lang }} {{ right_passage.version_type }}</div>
        </button>
        <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="version-option dropdown-menu">
          {% for version in versions %}
            <a class="dropdown-item" href="#">
              {{ version.passage.label }}
              <div class="metadata">{{ version.passage.human_lang }} {{ version.passage.version_type }}</div>
            </a>
          {% endfor %}
        </div>
      </div>

      <div class="text">
        {{ right_passage.render|safe }}
      </div>
    </div>
  {% else %}
    <div class="text">
      {{ passage.render|safe }}
    </div>
  {% endif %}
  <div class="pg-right">
    {% if passage.next_urn %}
      <a id="{% if passage.rtl %}pg-left{% else %}pg-right{% endif %}" href="{% url 'reader' passage.next_urn %}{% if right_version %}?right={{ right_version }}{% endif %}"><span><i class="fa {% if passage.rtl %}fa-chevron-left{% else %}fa-chevron-right{% endif %}"></i></span></a>
    {% endif %}
  </div>
</div>
