<div class="widget">
  <h2>CTS URN</h2>
  <p>
    <tt><a href="https://perseus-cts.eu1.eldarioncloud.com/api/cts?request=GetPassage&amp;urn={{ passage.urn }}">{{ passage.urn }}</a></tt>
  </p>
</div>

<div class="widget">
  <h2>Text Size</h2>
  <p>
    <span class="text-size-control text-xs" data-size="xs">Αα</span>
    <span class="text-size-control text-sm" data-size="sm">Αα</span>
    <span class="text-size-control text-md" data-size="md">Αα</span>
    <span class="text-size-control text-lg" data-size="lg">Αα</span>
    <span class="text-size-control text-xl" data-size="xl">Αα</span>
  </p>
</div>

{% if image_collection_link %}
  <div class="widget images">
    <h2>Images</h2>

    <div>
      <a href="{{ image_collection_link }}" target="_blank">External images of work available <i class="fa fa-external-link"></i></a>
    </div>

    {% for image in images %}
      <div>
        <img src="{{ image }}" width="100%">
      </div>
    {% empty %}
      <div>No individual inline images mapped yet.</div>
    {% endfor %}
  </div>
{% endif %}
