{% load reading %}


{% if passage.ancestors %}
  <div class="widget ancestors">
    <h2>Ancestors</h2>
    <p>{% for ancestor in passage.ancestors %}<a href="{% url 'reader' ancestor.urn %}{% if right_version %}?right={{ right_version }}{% endif %}">{{ ancestor.label }}</a>{% if not forloop.last %} &gt; {% endif %}{% endfor %}</p>
  </div>
{% endif %}

{% if passage.children %}
<div class="widget children">
  <h2>Children</h2>
  <p>{% for child in passage.children %}<a href="{% url 'reader' child.urn %}{% if right_version %}?right={{ right_version }}{% endif %}">{{ child.lsb }}</a> {% endfor %}</p>
</div>
{% endif %}

{% if user.is_authenticated %}
  {% recently_read_by user as recently_read %}
  {% if recently_read %}
    <div class="widget recently-read">
      <h2>Recently Read</h2>
      {% for log in recently_read %}
        <div class="log">
          <div class="label">
            <a href="{% url 'reader' log.urn %}">
              {{ log.metadata.textgroup_label }},
              {{ log.metadata.work_label }}&nbsp;{{ log.metadata.reference }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endif %}

<div class="widget passage-reference">
  <h2>Passage Reference</h2>
  <p>
    <input id="passage-reference" type="text" class="form-control form-control-sm" value="{{ passage.refs.start.reference }}{% if passage.refs.end %}-{{ passage.refs.end.reference }}{% endif %}" data-urn="{{ passage.urn }}">
  </p>
</div>

<div class="widget versions">
  <h2>Versions</h2>
  {% for version in versions %}
    <div class="version">
      <span class="side-selectors">
        {% if version.left %}<i class="fa fa-square"></i> <i class="fa fa-square-o"></i>{% endif %}
        {% if version.right %}<i class="fa fa-square-o"></i> <i class="fa fa-square"></i>{% endif %}
        {% if version.overall %}<i class="fa fa-square"></i> <i class="fa fa-square"></i>{% endif %}
      </span>
      <a href="{% url 'reader' version.passage.full_urn %}">{{ version.passage.label }}</a>
      <div class="metadata">{{ version.passage.human_lang }} {{ version.passage.version_type }}</div>
    </div>
  {% endfor %}
</div>
