<div class="widget">
  <h2>CTS URN</h2>
  <p>
    <tt>{{ passage.urn }}</tt>
  </p>
</div>

<div class="widget">
  <h2>Text Size</h2>
  <p>
    <span class="text-size-control text-xs" data-size="xs">Αα</span>
    <span class="text-size-control text-sm" data-size="sm">Αα</span>
    <span class="text-size-control text-md" data-size="md">Αα</span>
    <span class="text-size-control text-lg" data-size="lg">Αα</span>
    <span class="text-size-control text-xl" data-size="xl">Αα</span>
  </p>
</div>

<div class="widget">
  <h2>Yet Another Widget</h2>
  <p>...</p>
</div>
